canvas {
    width: 100%;
    height: 100%;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* body, html {
    height: 100%;
    margin: 0;
} */

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 25%;
}

div #message {
    display: inline-block;
    background: white;
    color: #666666;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 20px;
    line-height: 32px;
    border-radius: 10.56px;
    padding: 0 16px;
}